---
import { Image } from 'astro:assets'
import example1Logo from '../assets/polkadot-light.svg'
import example2Logo from '../assets/polkadot-treasury-light.png'

const sponsors = [
  {
    name: 'Polkadot',
    img: example1Logo,
    url: 'https://polkadot.com',
    size: 'large'
  },
  {
    name: 'Polkadot Treasury',
    img: example2Logo,
    url: 'https://polkadot.subsquare.io',
    size: 'large'
  },
]
---

<section>
  {sponsors.map(sponsor => (
    <a target="_blank" rel="noopener" href={sponsor.url} class={sponsor.size ?? ''}>
      <article>
        <h4>{sponsor.name}</h4>
        <Image height={sponsor.size === 'large' ? 36 : 36} src={sponsor.img} alt={sponsor.name}/>
      </article>
    </a>
  ))}
</section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.55rem;
    overflow: hidden;
    gap: 0.25rem;
    width: 100%;
    margin-top: 1rem;
  }
  a {
    width: 100%;
    flex-grow: 1;
  }
  a.large {
    width: 100%;
  }
  article {
    display: flex;
    background-color: var(--sl-color-gray-6);
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    width: 100%;
    border: solid 3px var(--sl-color-gray-5);
    border-radius: 0.55rem;
  }
  article:hover {
    background-color: var(--sl-color-gray-1);
  }
  article:hover :global(img) {
    filter: none !important;
  }
  :root[data-theme='light'] article:hover :global(img) {
    filter: grayscale(1) invert(1) !important;
  }
  h4 {
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
  }
  :root[data-theme='dark'] article :global(img) {
    filter: grayscale(1) invert(1);
  }

  
</style>